[type='radio'] {
  display: none;
}

[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 4rem;
  cursor: pointer;
  line-height: 3rem;
  display: block;
  margin: 1rem 0;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #fff;
}

[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  background-color: #000;
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  border-radius: 50%;
  transition: opacity 0.2s ease;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
}

[type='radio']:checked + label:after {
  opacity: 1;
}

input {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1rem;
}

input[type='text'] {
  display: block;
  -webkit-appearance: none;
  box-shadow: none;
  padding: 15px;
  width: 100%;
  text-overflow: ellipsis;
  margin-top: 1rem;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1.6rem;

  &:focus {
    border-color: #000;

    &::placeholder {
      color: transparent;
    }
  }
}

::placeholder {
  color: #666;
  transition: color 0.3s ease-in-out;
}
