html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow: hidden;
}

body {
  transform: translateZ(0);
}

.magic-fixed-pixel {
  /* Without this fixed position element, Edge does not correctly update the
     parallax position until it is forced to repaint. */

  position: fixed;
  top: 0;
  width: 1px;
  height: 1px;
  z-index: 1;
}

.app {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  perspective: 1px;
  perspective-origin: 0% 0%;
  will-change: transform;

  .sticky-parallax & {
    perspective: none;
    perspective-origin: none;
  }
}

.parallax-container {
  transform-style: preserve-3d;
  position: relative;
  z-index: -1;

  .sticky-parallax & {
    transform-style: unset;
  }
}

.sticky-parallax {

  .parallax-container {
    perspective: 1px;
    perspective-origin: 0% 0%;
  }

  .hero {
    position: -webkit-sticky;
    top: 0;
  }
}

.hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  z-index: -1;
  transform: translateZ(-1.1px) scale(2.1);
  transform-style: preserve-3d;
  transform-origin: 0% 0% 0px;
  height: 60rem;
  margin-bottom: -65rem;
}

.fake-height {
  background-color: #fff;
}
