html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
}
