html {
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
}

.subtitle {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: $subtitle;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-weight: 800;
  color: $title;

  + .subtitle {
    margin-top: -2rem;
  }
}

label {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
