@import 'reset';
@import 'variables';
@import 'typography';
@import 'buttons';
@import 'atomic';
@import 'parallax';

img {
  display: block;
  max-width: 100%;
}

[type='radio'] {
  display: none;
}

[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 4rem;
  cursor: pointer;
  line-height: 3rem;
  display: block;
  color: $text-color;
  margin: 1rem 0;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #fff;
}

[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  background-color: #000;
  position: absolute;
  top: .8rem;
  left: .8rem;
  border-radius: 50%;
  transition: opacity 0.2s ease;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
}

[type='radio']:checked + label:after {
  opacity: 1;
}
