.input {
  flex-grow: 1;
  margin: 0;

  &-button {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 1rem;
    padding: 0;
    outline: none;
    border: 1px solid #ccc;
  }

  &-group {
    margin-top: 1rem;
    display: flex;
    margin-bottom: 2rem;

    &--wrap {
      flex-flow: row wrap;
    }

    &--nowrap {
      flex-flow: row nowrap;
      width: 100%;
    }
  }
}

.form {

  &-actions {
    display: flex;
    flex-flow: nowrap;
    margin: 0;
  }

  &-info {
    flex-grow: 1;
    padding: 0;
    margin-right: 2rem;

    p {
      padding-top: 1rem;
      font-size: 1.6rem;
      line-height: 1.2;
      margin: 0;
    }
  }
}

.form-check {
  padding-right: 4rem;
}
