.input {
  flex-grow: 1;
  margin: 0;

  &__button {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 1rem;
    padding: 0;
    outline: none;
    border: 1px solid #ccc;
  }

  &__group {
    margin-top: 1rem;
    display: flex;
    margin-bottom: 2rem;
    width: 100%;
    flex-direction: row;

    &--wrap {
      flex-wrap: wrap;
    }

    &--nowrap {
      flex-wrap: nowrap;
    }
  }
}

.form {

  &-actions {
    display: flex;
    flex-flow: nowrap;
    margin: 0;
  }
}

.form-check {
  padding-right: 2rem;

  @media screen and(min-width: 1024px) {
    padding-right: 4rem;
  }
}
